{% extends 'base.html' %}
{% block content %}


	<h1>Adicionar ação ao portfólio</h1>
	{{ available_stocks }}

	<form action={% url 'add_stock' %} class="form-inline my-2 my-lg-0" method="POST">
	{% csrf_token %}
	<input class="form-control mr-sm-2" type="search" placeholder="Insira o código" aria-label="Search"
		   name="ticker">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Adicionar</button>
	</form>

	{% for item in available_stocks %}
		{{ item }}<br/>
	{% endfor %}



{% endblock %}