{% extends 'base.html' %}
{% block content %}

	{% if user.is_authenticated %}
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">Ticker</th>
		  <th scope="col">Dia da última atualização</th>
		  <th scope="col">Hora da última atualização</th>
		  <th scope="col">Preço</th>
		  <th scope="col"></th>
		</tr>
	  </thead>
	  <tbody>
		{% for stock in all_stocks %}
			<tr>
				<td>{{ stock }}</td>
				<td>{{ stock.hist.0.date|date:'d/m/Y' }}</td>
				<td>{{ stock.hist.0.date|date:'H:i' }}</td>
				<td>R$ {{ stock.hist.0.price }}</td>
				<td><button><a href={% url "add_stock" stock %}>Adicionar ao portfólio</a></button></td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
	{% else %}
	<h3> Seja bem vindo ao PSI Stock Prices. Faça login para criar seu portfólio</h3>
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">Ticker</th>
		  <th scope="col">Hora da última atualização</th>
		  <th scope="col">Preço</th>
		</tr>
	  </thead>
	  <tbody>
		{% for stock in all_stocks %}
			<tr>
				<td>{{ stock }}</td>
				<td>{{ stock.hist.0.date }}</td>
				<td>{{ stock.hist.0.price }}</td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
	{% endif %}


{% endblock %}

